<div class="row">
  <div class="col-md-offset-1">

    <h3 class="vigme-header-3">Log in as user (id)</h3>

    <%= form_tag(admin_login_path, method: "get") do %>
      <%= label_tag(:user_id, "User ID:") %>
      <%= text_field_tag(:user_id) %>
      <%= submit_tag("Login as User") %>
    <% end %>

  </div>
</div>