<ul class="list">
	<li class="vigme-filters"><%= link_to 'All', '/products?all=1' %></a> </li>
	<% @categories.each do |category| %>
	<li class="vigme-filters"><%= link_to category.name, '/products?' + category.name.delete(' ') + '=1' %></a> </li>
		
	<% end %>
</ul>
