
<% products.each do |product| %>
	<div class="vigme-product-outline-mini"> 
		<%= link_to image_tag( product["image"] || product.image_s3_url, :class=> "vigme-products-mini"), {:controller => 'products', :action => "showProductModal", :id => (product["id"] || product.id) }, remote: :true, 'data-toggle' => 'modal', 'data-target' => '#product_detail_modal' %>
	</div> 
<% end %>

	