
<% products.each do |product| %>
<div class="portfolio logo1 mix_all" data-cat="logo" style="display: inline-block; opacity: 1;"> 
  <a href="/products/<%= product["id"] || product.id %>?from_user=<%= @user_id %>">
                <div class="portfolio-wrapper vigme-profile-products" style="background-image: url('<%= product["image"] || product.image_s3_url %>');">
                </div> </a>
              </div> 
  <% end %>
