
<% products.each do |product| %>
<div class="portfolio logo1 mix_all" data-cat="logo" style="display: inline-block; opacity: 1;"> 
  <a href="/products/<%= product["id"] %>">
                <div class="portfolio-wrapper center-cropped" style="background-image: url('<%= product["image"] %>');">
                </div> </a>
              </div> 
  <% end %>

	