<% products.each do |product| %>
<div class="portfolio logo1 mix_all" data-cat="logo" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                  <a href="<%= url_for product %>"> <img class="product" src="<%= product.image_s3_url %>" alt="Image 1" style="top: 0px;"> </a>
                <!--  <div class="label_style">
                    <a href="#"><span class="icon_1"></span></a>
                    <div class="label_text">
                      <h2>scarabaeidae</h2>
                      <p>Rezonum &amp; Collections</p>
                    </div>
                  </div> -->
                </div>
              </div>
  <% end %>