
<div class="modal" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id="<%= modal_id %>_dialog" class="modal-dialog">
    <div class="vigme-modal-content modal-content">

      <div id="<%= modal_id %>_body" class="modal-body">

      </div>

      <div class="modal-footer">
        <button id="close-list-modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
$(function() {
  return $('#product_detail_modal').on('scroll', function() {
    var delay;
    console.log($('#product_detail_modal').scrollTop());
    console.log($('#product_detail_modal_dialog').height() - 2500);
    if ($('#product_detail_modal').scrollTop() > $('#product_detail_modal_dialog').height() - 2500) {
      $("#more_products_modal").click();
      $("#more_products_modal").attr('disabled', true);
      console.log("test");
      delay = function(ms, func) {
        return setTimeout(func, ms);
      };
      delay(1000, function() {
        return $("#more_products_modal").removeAttr('disabled');
      });
      console.log("testafter");
    }
  });
});

</script>
