<div class="col-md-5">
<%= button_to 'Post Product', {controller: 'products', action: 'displayUrlForm'}, :method => :post, :remote => true, :class => 'vigme-rankings-button btn btn-info' %>
</div>
<div class="col-md-5">
<%= button_to 'Create Outfit', {controller: 'list', action: 'displayListForm'}, :method => :post, :remote => true, :class => 'vigme-rankings-button btn btn-info' %>
</div>