	<div class="vigme-vigor row">
		<% if rank == "bronze" %>
			<div class="w-group">

				<a style="border-color: transparent transparent #C5A82F transparent;" id="w-triangle"></a>
				<a style="border-color: transparent transparent #C5A82F transparent;" id="w-triangle"></a>
			</div>
				<a style="border-color: #C5A82F transparent transparent transparent;" id="v-triangle"></a>
		<% else %>
			<div class="w-group">
				<a id="w-triangle"></a>
				<a id="w-triangle"></a>
			 </div>
			<a id="v-triangle"></a>
		<% end %>

	</div>