<div class="row">
	<div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-sm-offset-1">
		<h1 class="vigme-ranking-header"> The Vig Leagues </h1>
		<h2 class="vigme-ranking-header vigme-subtitle">Discover the trendiest people on VigMe!<h2>

	</div>
</div>
<div class="vigme-line"></div>

<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<%= render "rankings_filters" %>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<%= render "rankings_table", title: "All-Time Top Trendsetters", users: @topAllTimeUsers %>
	</div>
	<div class="col-md-offset-0 col-md-5">
		<%= render "rankings_table", title: "This Week's Top Trendsetters", users: @topThisWeekUsers %>

	</div>
</div>
