// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vigme-social-header-button {
  border-radius: 0px;
  background-color: rgb(126, 193, 214);
  border-color: rgb(126, 193, 214);
  height: 42px;
}
.vigme-social-header {
  margin-top: 1%;
  margin-bottom: 1%;
}
.vigme-products-mini {
    z-index: 5;
   background-size: contain;
    width: 100px;  
    height: 150px; 
    background-position: center center;
    background-repeat: no-repeat;
}
.vigme-product-header {
    margin-top: 1%;
    margin-bottom: 10px;
}
.vigme-product-header-image{
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}
.no-margin {
  margin-left:0px;
}
.vigme-social-feed-item {
  margin-left: 30px;
  padding: 0px;
}
.vigme-social-profile-row {
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  border-style: solid;
  border-color: #eff0f2;
  border-width: 6px;
  background-color: #eff0f2;
  margin-top: 5px;
}
.vigme-product-social {
  z-index: 5;
  background-size: contain;
  width: 154px;  
  height: 154px; 
  background-position: center center;
  background-repeat: no-repeat;
}
.vigme-social-feed {
  border-style: solid;
  border-width: 5px;
  border-color: #eff0f2;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #eff0f2;
}
.vigme-social-product-group {
  background-color: #eff0f2;
  padding-top:5px;
  margin-bottom: 30px;
  text-align: center;
}
.vigme-button-div {
  padding-top: 0px;
}
.vigme-button {
min-width: 113px;
height: 56px;
font-size: 27px;
margin-bottom:10px;
border-radius: 0px;
}
.vigme-filters {
  margin-bottom: 15px;
}
#vigme-cloth-type {
  width: 20%;
  min-width: 100px;
}
.product {
	width: 200px;
}
.products-div {
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	width: 80%;
}
.cover {
	max-height: 450px;
	background:url('/assets/signup/signup-background.jpg');
	background-size:cover;
}
.vigme-container {
	width: auto;
}
.center-cropped {
	z-index: 5;
	background-size: contain;
    width: 220px;  
    height: 220px; 
    background-position: center center;
    background-repeat: no-repeat;
}​
.product-detail-padding {
	padding-top: 60px;
  margin-bottom: 10px;
}
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.glow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.glow:hover, .glow:focus, .glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.box .simple-caption {  
    height: 30px;  
    width: 200px;  
    display: block;  
    bottombottom: -30px;  
    line-height: 25pt;  
    text-align: center;  
}  
.box:hover .simple-caption {  
    -moz-transform: translateY(-100%);  
    -o-transform: translateY(-100%);  
    -webkit-transform: translateY(-100%);  
    transform: translateY(-100%);  
} 
.view-first:hover img { 
    transform: scale(1.1);
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(219,127,8, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}