// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product {
	width: 200px;
}
.products-div {
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	width: 80%;
}
.cover {
	max-height: 450px;
	background:url('/assets/signup/signup-background.jpg');
	background-size:cover;
}
.vigme-container {
	width: auto;
}
.center-cropped {
    width: 200px;  
    height: 200px; 
    background-position: center center;
    background-repeat: no-repeat;
}​
.product-detail-padding {
	padding-top: 60px;
}
