// Place all the styles related to the Ranking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vigme-rankings-follow {
	text-align:center;
}
.vigme-rankings-button {
	margin-top: 7px;
	border-radius: 0px;
}
.vigme-rankings-list {
	margin-top: 2%;
}
.vigme-subtitle {
	font-size: 22px;
}
.vigme-ranking-header {
	text-align: center;
}