<%= form_for :link, remote: true, url: products_new_path do |f| %>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url, :class => "vigme-post-product-field" %>
  </p>
 
  <p>
    <%= f.submit 'Add Product', :class => "btn btn-primary" %>
  </p>
<% end %>
