<div id="share_modal_body" class="row">

<div class="row">
	<div class="col-md-offset-1">
		<%= form_for :link, remote: true, url: products_new_path do |f| %>
		  <p>
		    <%= f.label :url %><br>
		    <%= f.text_field :url, :class => "vigme-post-product-field",  autofocus: true %>
		  </p>
		 
		  <p>
		    <%= f.submit 'Add Product', :class => "btn btn-primary" %>
		  </p>
		<% end %>
	</div>
</div>

</div>