
<div class="row col-md-offset-2 product-detail-padding">
<h1> Choose the best picture for your post! </h1>

<% @image_array.each_with_index do |image, index| %>
<%= link_to image_tag(image, :class => "add_product_image"), categorize_product_path(:index => index) %>

  <% if index % 3 == 0  && index != 0 %>
	</br>
  <% end %>
<% end %>
</div>