<div class="vigme-social-header row">
	<div class="col-md-offset-1 col-md-8">
		<a href="<%= ranking_path %>">
		<button class="vigme-social-header-button btn btn-primary btn-sm">
  		Discover Trendsetters
  		 </button>
		</a>
	</div>
</div>

<div id="product-list" class="no-margin row col-md-offset-1">

<%= render 'social_feed', products_for_each_user: @products_for_each_user, social_feed_profiles: @social_feed_profiles %>


</div>
<a style="display: none"><%= button_to 'More', {:controller => "products", :action => "moreSocialFeed", :more => 1}, id: 'more_products', :method => :get, remote: true %></a>
