<div class="row">
<% @social_feed_profiles.zip(@products_for_each_user).each do |profile, products| %>
<div class="col-md-6">
<%= render 'shared/product_list_social', products: products, profile: profile %>
</div>
<% end %>
</div>