<div class="vigme-viglet-body">

<div class="vigme-viglet-header row">
	<div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-sm-offset-1">
		<h1 class="vigme-ranking-header"> Viglets! </h1>
		<h2 class="vigme-ranking-header vigme-subtitle">Bookmarklets to Help You Share!</h2>
		<h2 class="vigme-ranking-header vigme-subtitle">Drag the buttons to your bookmarks bar above!</h2><h2>

	</div>
</div>
<div class="vigme-line"></div>

<div class="row col-md-offset-2">
	<div class="col-md-offset-0 col-md-3 col-xs-offset-1 col-sm-offset-1">
		<h2 class="vigme-ranking-header vigme-subtitle">Share products from other retailers on Vigme!</h2>
	</div>
	<div class="col-md-3 col-md-offset-0 vigme-bookmarklet-div">
		
		<%= link_to 'Vig It', easymarklet_js('bookmarklet/fvb_bare_bookmarklet.js'), class: "vigme-bookmarklet" %>
		
	</div>
	<div class="col-md-3">
		<h2 class="vigme-header-3">If you see a cool product on another site, click the Vig It button! </h2>
	</div>
</div>

<div class="vigme-line"></div>

<div class="row col-md-offset-2">
	<div class="col-md-offset-0 col-md-3 col-xs-offset-1 col-sm-offset-1">
		<h2 class="vigme-ranking-header vigme-subtitle">Report product purchases back to Vigme!</h2>
	</div>
	<div class="col-md-3 col-md-offset-0 vigme-bookmarklet-div">
		<%= link_to 'Got It', easymarklet_js('bookmarklet/bought_bookmarklet.js'), class: "vigme-bookmarklet" %>
		
	</div>
	<div class="col-md-3">
		<h2 class="vigme-header-3">If you buy something cool that you found on Vigme, share it with friends! </h2>
	</div>
</div>

</div>




