<div id="follow-button" class="vigme-follow-button">

<% if session[:user_id] != user_info.id %>

	<% if unfollow == 1 %>
		<%= button_to 'Unfollow', {controller: 'profile', action: 'unfollow', :user_to_unfollow => user_info.id}, :method => :post, :remote => true, :class => 'vigme-button btn btn-primary' %>

	<% else %>
		<%= button_to 'Follow', {controller: 'profile', action: 'follow', :user_to_follow => user_info.id}, :method => :post, :remote => true, :class => 'vigme-button btn btn-primary' %>
	<% end %>
<% end %>

</div>
