<div class="row vigme-center-text">
	<h3 class="vigme-header-3"><%= @user.name %>'s Shared Products</h3>
</div>


<div class="row">
	<div class="">
	<div class="col-md-8 col-md-offset-2">
		<%= render 'shared/product_list_profile', products: @products %>
	</div>
</div>
</div>