
<div id="vigme-hider"></div>
<div id="vigme-popup_box">

	<div class="row">
		<div class="col-offset-0">
			<h3 class="vigme-center-text vigme-header-3">Follow stores to help us build your feed.</h3>
		</div>
	</div>
	<div class="row">
		<%= render 'profile/store_list', products_for_each_user: @products_for_each_store, social_feed_profiles: @store_profiles %>
	</div>


</div>    
<div id="vigme-content">
</div>