<div class="vigme-footer-container">
<div class="container-fluid">

<div class="footer-about pull-left">
<div class="vigme-footer-title">ABOUT VIGME</div>
<ul class="left">
<li><a href="/about">About</a></li>
<li><a href="/about/press">Press</a></li>
<li><a href="">iOS</a></li>
<li><a href="">Android</a></li>
</ul>
<ul class="right">
<li><a href="/about/terms">Terms</a></li>
<li><a href="/about/privacy">Privacy</a></li>
<li><a href="">Help</a></li>
<li><a href="">hello@vigme.com</a></li>
</ul>
</div>
<div class="footer-browse pull-left">
<div class="vigme-footer-title">BROWSE</div>
<ul class="left">
<li><a href="/stores">Top Stores</a></li>
<li><a href="/top/people">Top People</a></li>
<li><a href="/about/stores">For Stores</a></li>
</ul>
<ul class="right">
<li><a href="/themes/design">Design</a></li>
<li><a href="/themes/home">Home</a></li>
<li><a href="/themes/indie_etsy">Independent</a></li>
<li><a href="/stores/popular">Store Directory</a></li>
</ul>
</div>
<div class="footer-follow pull-left">
<div class="vigme-footer-title">FOLLOW</div>
<ul>
<li><a href="">Blog</a></li>
<li><a href="">Twitter</a></li>
<li><a href="">Facebook</a></li>
<li><a href="">Instagram</a></li>
</ul>
</div>
</div>
</div>